@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;

}

::selection{
background: #ffd966;
  /* highlighter yellow */
  color: black;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #c0c0c000;
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6F5D4F;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

p{
  text-indent: 2em;
}

body {
  background: #F7EFDA;
  /* color: var(--foreground); */
  font-family: monospace,
    Arial,
    Helvetica,
    sans-serif  ;
    line-height:2;
background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");  
  }
/* background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png"); */

/* .typewriter::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 4px;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  50.01%,
  100% {
    opacity: 0;
  }
} */

@keyframes noteDrop {
  from {
    transform: rotate(-1deg) translateY(-10px);
    opacity: 0;
  }

  to {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
}

.article {
  animation: noteDrop 0.5s ease-out;
}

/* .box2::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 40px 40px 0;
  border-style: solid;
  border-color: transparent #ece3d1 transparent transparent;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.15);
} */

